__pycache__
*.swp
.coverage
.cursorignore
api.md
app_info_cache.json
app_media_track_cache
translations.json
cache/*
configs/*
!configs/config_example.json
library_data/data/*
!library_data/data/blacklist_example.json
library_data/prose_data/*
library_data/wiki/*
muse_memory
temp*
!utils/temp_dir.py
tts_output/*
